<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BenchmarkDotNet" version="0.13.12" manuallyInstalled="true" />
  <package id="BenchmarkDotNet.Annotations" version="0.13.12" />
  <package id="CommandLineParser" version="2.9.1" />
  <package id="Gee.External.Capstone" version="2.3.0" />
  <package id="Iced" version="1.17.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.1.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.1.0" />
  <package id="Microsoft.Diagnostics.NETCore.Client" version="0.2.251802" />
  <package id="Microsoft.Diagnostics.Runtime" version="2.2.332302" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.0.2" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" />
  <package id="Perfolizer" version="0.2.1" />
  <package id="System.CodeDom" version="5.0.0" />
  <package id="System.Collections.Immutable" version="5.0.0" />
  <package id="System.Management" version="5.0.0" />
  <package id="System.Reflection.Metadata" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" />
</packages>